{% extends "_base.html" %}

{% load static %}

{% block content %}
  <!-- Content Wrapper Start -->
  <div class="content-wrapper">
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap bg-f br-1">
      <div class="container">
        <div class="breadcrumb-title">
          <h2>Contact Us</h2>
          <ul class="breadcrumb-menu list-style">
            <li>
              <a href="{% url "home" %}">Home</a>
            </li>
            <li>Contact Us</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Contact Us section Start -->
    <section class="contact-us-wrap ptb-100">
      <div class="container">
        <div class="section-title style1 text-center mb-40">
          <span>
            Contact Us
            <img width="" height="" alt="Image" src="{% static "assets/img/section-shape.png" %}" />
          </span>
          <h2>Get In Touch With Us</h2>
        </div>
        <div class="row gx-5 justify-content-center">
          <div class="col-lg-8">
            <div class="contact-form">
              <form class="form-wrap" id="contactForm">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <input data-error="Please enter your name"
                             id="name"
                             name="name"
                             placeholder="Name*"
                             required=""
                             type="text" />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <input data-error="Please enter your email"
                             id="email"
                             name="email"
                             placeholder="Email*"
                             required=""
                             type="email" />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <input data-error="Please enter your phone"
                             id="phone"
                             name="phone"
                             placeholder="Phone*"
                             required=""
                             type="email" />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <input data-error="Please enter your subject"
                             id="msg_subject"
                             name="msg_subject"
                             placeholder="Subject*"
                             required=""
                             type="text" />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group v1">
                      <textarea cols="30"
                                data-error="Please enter your message"
                                id="message"
                                name="message"
                                placeholder="Your Messages.."
                                required=""
                                rows="10"></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <div class="form-check checkbox">
                        <input class="form-check-input"
                               id="gridCheck"
                               name="gridCheck"
                               required=""
                               type="checkbox"
                               value="I agree to the terms and privacy policy." />
                        <label class="form-check-label" for="gridCheck">
                          I agree to the
                          <a class="link style1" href="{% url "home" %}">Terms &amp; Conditions</a>
                          and
                          <a class="link style1" href="{% url "home" %}">Privacy Policy</a>
                        </label>
                        <div class="help-block with-errors gridCheck-error"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn style1 w-100 d-block" type="submit">Send Message</button>
                    <div class="h3 text-center hidden" id="msgSubmit"></div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="contact-item-wrap">
              <div class="contact-item">
                <h3>Our Address</h3>
                <p>Carbon Training Center</p>
              </div>
              <div class="contact-item">
                <h3>Email Address</h3>
                <a href="{% url "home" %}">mail.rampoe@gmail.com</a>
                <a href="{% url "home" %}">despicable3@gmail.com</a>
              </div>
              <div class="contact-item">
                <h3>24/7 Support</h3>
                <a href="{% url "home" %}">+993-65-00-00-00</a>
                <a href="{% url "home" %}">+993-62-11-11-11</a>
              </div>
              <div class="contact-item">
                <h3>Follow us</h3>
                <ul class="social-profile style2 list-style">
                  <li>
                    <a href="{% url "home" %}">
                      <i class="ri-facebook-fill">
                      </i>
                    </a>
                  </li>
                  <li>
                    <a href="{% url "home" %}">
                      <i class="ri-twitter-fill">
                      </i>
                    </a>
                  </li>
                  <li>
                    <a href="{% url "home" %}">
                      <i class="ri-instagram-line">
                      </i>
                    </a>
                  </li>
                  <li>
                    <a href="{% url "home" %}">
                      <i class="ri-linkedin-fill">
                      </i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Us section End -->
  </div>
  <!-- Content wrapper end -->
{% endblock content %}
